@{
  ViewData["Title"] = $"Details for {Model.GroupName}";
}

<h1>All About @Model.GroupName</h1>
  @foreach (Message item in Model.Messages)
  {
    <li>@item.MessageText : @item.PostDate : @item.UserName</li>
  }

@Html.ActionLink("Return to all them groups", "Index")